Repository swc-project/swc, pull requests merged in 2022-01, with the labels that each got.

#3186 refactor(swc/plugin): avoid redundant filesystem read
  crates/swc/src/plugin.rs
  crates/swc_plugin_runner/src/lib.rs
  crates/swc_plugin_runner/tests/integration.rs
Labels: A-plugin

#3188 refactor(swc): deprecate abi_stable, plugin_ast (#3167 part 2)
  .github/workflows/cargo.yml
  Cargo.lock
  Cargo.toml
  crates/rplugin/Cargo.toml
  crates/rplugin/README.md
  crates/rplugin/src/lib.rs
  crates/rplugin/tests/macro.rs
  crates/rplugin_macros/Cargo.toml
  crates/rplugin_macros/src/lib.rs
  crates/swc_common/Cargo.toml
  crates/swc_common/src/plugin.rs
  crates/swc_common/src/syntax_pos.rs
  crates/swc_common/src/syntax_pos/hygiene.rs
  crates/swc_ecma_plugin_ast/Cargo.toml
  crates/swc_ecma_plugin_ast/benches/comp.rs
  crates/swc_ecma_plugin_ast/benches/input.js
  crates/swc_ecma_plugin_ast/src/lib.rs
  crates/swc_plugin/Cargo.toml
  crates/swc_plugin/src/lib.rs
  crates/swc_plugin/tests/js.rs
  crates/swc_plugin_js_api/Cargo.toml
  crates/swc_plugin_js_api/src/lib.rs
  crates/swc_plugin_runner/Cargo.toml
Labels: A-plugin

#3200 fix(es/minifier): Disable inlining of expressions from `collapse_vars`
  crates/swc/tests/fixture/issue-2614/input/.swcrc
  crates/swc/tests/fixture/issue-2614/input/index.js
  crates/swc/tests/fixture/issue-2614/output/index.js
  crates/swc/tests/tsc-references/amdImportNotAsPrimaryExpression_es5.2.minified.js
  crates/swc/tests/tsc-references/commonJSImportNotAsPrimaryExpression_es5.2.minified.js
  crates/swc/tests/tsc-references/destructuringObjectAssignmentPatternWithNestedSpread_es5.2.minified.js
  crates/swc/tests/tsc-references/es6modulekindWithES5Target12_es5.2.minified.js
  crates/swc/tests/tsc-references/esnextmodulekindWithES5Target12_es5.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports1-amd_es2015.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports1-amd_es5.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports1-es6_es2015.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports1-es6_es5.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports1_es2015.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports1_es5.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports3-amd_es2015.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports3-amd_es5.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports3-es6_es2015.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports3-es6_es5.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports3_es2015.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports3_es5.2.minified.js
  crates/swc/tests/tsc-references/mixinAbstractClasses.2_es2015.2.minified.js
  crates/swc/tests/tsc-references/taggedTemplatesWithTypeArguments1_es2015.2.minified.js
  crates/swc/tests/tsc-references/taggedTemplatesWithTypeArguments1_es5.2.minified.js
  crates/swc/tests/tsc-references/typeofAnExportedType_es2015.2.minified.js
  crates/swc/tests/tsc-references/typeofAnExportedType_es5.2.minified.js
  crates/swc_ecma_minifier/src/compress/mod.rs
  crates/swc_ecma_minifier/src/compress/optimize/collapse_vars.rs
  crates/swc_ecma_minifier/src/compress/optimize/mod.rs
  crates/swc_ecma_minifier/src/compress/optimize/sequences.rs
  crates/swc_ecma_minifier/tests/compress/fixture/issues/2257/full/output.js
  crates/swc_ecma_minifier/tests/compress/fixture/issues/2614/1/input.js
  crates/swc_ecma_minifier/tests/compress/fixture/issues/2614/1/output.js
  crates/swc_ecma_minifier/tests/compress/fixture/issues/firebase-firestore/1/output.js
  crates/swc_ecma_minifier/tests/compress/fixture/issues/moment/1/output.js
  crates/swc_ecma_minifier/tests/projects/output/jquery.mobile-1.4.2.js
  crates/swc_ecma_minifier/tests/projects/output/react-dom-17.0.2.js
  crates/swc_ecma_minifier/tests/terser/compress/drop-unused/assign_binding/output.js
Labels: A-minifier

#3204 fix(es/minifier): Drop unreachable statements eagerly
  crates/swc_ecma_minifier/src/compress/drop_console.rs
  crates/swc_ecma_minifier/src/compress/pure/if_return.rs
  crates/swc_ecma_minifier/src/compress/pure/mod.rs
  crates/swc_ecma_minifier/tests/compress/fixture/issues/2257/full/output.js
  crates/swc_ecma_minifier/tests/compress/fixture/issues/3173/1/input.js
  crates/swc_ecma_minifier/tests/compress/fixture/issues/3173/1/output.js
  cspell.json
Labels: A-minifier

#3199 feat(swc/plugin_runner): pass serialized ast (#3167 part3)
  .github/workflows/cargo.yml
  Cargo.lock
  crates/swc_common/src/plugin.rs
  crates/swc_plugin/Cargo.toml
  crates/swc_plugin/src/lib.rs
  crates/swc_plugin_js_api/Cargo.toml
  crates/swc_plugin_js_api/src/lib.rs
  crates/swc_plugin_runner/Cargo.toml
  crates/swc_plugin_runner/src/lib.rs
  crates/swc_plugin_runner/tests/integration.rs
  tests/rust-plugins/swc_internal_plugin/Cargo.toml
  tests/rust-plugins/swc_internal_plugin/src/lib.rs
Labels: A-plugin

#3216 feat(swc/plugin): allow multivalue for plugin fn signature
  crates/swc_plugin_runner/src/lib.rs
  crates/swc_plugin_runner/tests/integration.rs
  tests/rust-plugins/swc_internal_plugin/.cargo/config.toml
  tests/rust-plugins/swc_internal_plugin/README.md
  tests/rust-plugins/swc_internal_plugin/build.cmd
  tests/rust-plugins/swc_internal_plugin/build.sh
  tests/rust-plugins/swc_internal_plugin/multivalue-polyfill/Cargo.toml
  tests/rust-plugins/swc_internal_plugin/multivalue-polyfill/src/main.rs
  tests/rust-plugins/swc_internal_plugin/src/lib.rs
Labels: A-plugin

#3220 feat(swc/plugin_runner): perform actual plugin transform
  Cargo.lock
  crates/swc_plugin/Cargo.toml
  crates/swc_plugin/src/lib.rs
  crates/swc_plugin_runner/Cargo.toml
  crates/swc_plugin_runner/src/lib.rs
  crates/swc_plugin_runner/tests/integration.rs
  tests/rust-plugins/swc_internal_plugin/src/lib.rs
Labels: A-plugin

#3227 feat(swc/plugin_runner): free guest memory after transform
  Cargo.lock
  crates/swc/src/plugin.rs
  crates/swc_common/src/lib.rs
  crates/swc_common/src/plugin.rs
  crates/swc_plugin/src/allocation.rs
  crates/swc_plugin/src/lib.rs
  crates/swc_plugin_runner/Cargo.toml
  crates/swc_plugin_runner/src/lib.rs
  crates/swc_plugin_runner/tests/integration.rs
  tests/rust-plugins/swc_internal_plugin/Cargo.toml
  tests/rust-plugins/swc_internal_plugin/src/lib.rs
Labels: A-plugin

#3240 feat(swc/plugin_macro): plugin macro helper support
  Cargo.lock
  Cargo.toml
  crates/swc/src/plugin.rs
  crates/swc_plugin/Cargo.toml
  crates/swc_plugin/src/lib.rs
  crates/swc_plugin_macro/Cargo.toml
  crates/swc_plugin_macro/src/lib.rs
  crates/swc_plugin_runner/src/lib.rs
  crates/swc_plugin_runner/tests/integration.rs
  tests/rust-plugins/swc_internal_plugin/Cargo.toml
  tests/rust-plugins/swc_internal_plugin/multivalue-polyfill/src/main.rs
  tests/rust-plugins/swc_internal_plugin/src/lib.rs
Labels: A-plugin

#3271 feat(swc/plugin_runner): support plugin targets wasm32-wasi
  .github/workflows/cargo.yml
  Cargo.lock
  crates/swc_plugin_runner/Cargo.toml
  crates/swc_plugin_runner/src/lib.rs
  crates/swc_plugin_runner/tests/integration.rs
  tests/rust-plugins/swc_internal_plugin/build.cmd
  tests/rust-plugins/swc_internal_plugin/build.sh
  tests/rust-plugins/swc_internal_plugin/multivalue-polyfill/src/main.rs
Labels: A-plugin

#3270 feat(swc/plugin_runner): free allocated memory when errors
  crates/swc_plugin_macro/src/lib.rs
  crates/swc_plugin_runner/src/lib.rs
  tests/rust-plugins/swc_internal_plugin/src/lib.rs
Labels: A-plugin

#3286 fix(es/minifier): Fix analysis of unary expressions
  crates/swc_ecma_minifier/src/analyzer/mod.rs
  crates/swc_ecma_minifier/tests/compress/fixture/issues/3256/1/input.js
  crates/swc_ecma_minifier/tests/compress/fixture/issues/3256/1/output.js
  crates/swc_ecma_minifier/tests/compress/fixture/issues/3256/2/input.js
  crates/swc_ecma_minifier/tests/compress/fixture/issues/3256/2/output.js
  crates/swc_ecma_minifier/tests/projects/output/jquery-1.9.1.js
Labels: A-minifier

#3300 feat(swc/common): implement PluginError
  crates/swc_common/src/plugin.rs
  crates/swc_plugin/src/lib.rs
  crates/swc_plugin_build/Cargo.toml
  crates/swc_plugin_build/src/lib.rs
  crates/swc_plugin_macro/src/lib.rs
  crates/swc_plugin_runner/src/lib.rs
  tests/rust-plugins/swc_internal_plugin/multivalue-polyfill/src/main.rs
  tests/rust-plugins/swc_internal_plugin/src/lib.rs
Labels: A-plugin

#3310 fix(es/minifier): Prevent infinite loop due to negation
  crates/swc_ecma_minifier/src/analyzer/mod.rs
  crates/swc_ecma_minifier/src/compress/mod.rs
  crates/swc_ecma_minifier/src/compress/optimize/bools.rs
  crates/swc_ecma_minifier/src/compress/optimize/conditionals.rs
  crates/swc_ecma_minifier/src/compress/optimize/ops.rs
  crates/swc_ecma_minifier/src/compress/pure/bools.rs
  crates/swc_ecma_minifier/src/compress/pure/conds.rs
  crates/swc_ecma_minifier/src/compress/pure/if_return.rs
  crates/swc_ecma_minifier/src/compress/util/mod.rs
  crates/swc_ecma_minifier/src/compress/util/tests.rs
  crates/swc_ecma_minifier/tests/compress/fixture/next/31077/static/chunks/1606726a.10299989c08cb523/input.js
  crates/swc_ecma_minifier/tests/compress/fixture/next/31077/static/chunks/1606726a.10299989c08cb523/output.js
Labels: A-minifier

#3346 refactor(swc/plugin): remove multivalue polyfill
  crates/swc_plugin/src/lib.rs
  crates/swc_plugin_macro/src/lib.rs
  crates/swc_plugin_runner/src/lib.rs
  crates/swc_plugin_runner/tests/integration.rs
  tests/rust-plugins/swc_internal_plugin/Cargo.lock
  tests/rust-plugins/swc_internal_plugin/README.md
  tests/rust-plugins/swc_internal_plugin/build.cmd
  tests/rust-plugins/swc_internal_plugin/build.sh
  tests/rust-plugins/swc_internal_plugin/multivalue-polyfill/Cargo.toml
  tests/rust-plugins/swc_internal_plugin/multivalue-polyfill/src/main.rs
  tests/rust-plugins/swc_internal_plugin/src/lib.rs
Labels: A-plugin

#3359 feat(swc_plugin): pass hostcontext to plugin for diagnostics emission
  crates/swc_common/src/errors/diagnostic.rs
  crates/swc_common/src/errors/mod.rs
  crates/swc_common/src/errors/snippet.rs
  crates/swc_common/src/plugin.rs
  crates/swc_common/src/syntax_pos.rs
  crates/swc_plugin/src/context.rs
  crates/swc_plugin/src/lib.rs
  crates/swc_plugin_macro/src/lib.rs
  crates/swc_plugin_runner/src/lib.rs
  crates/swc_plugin_runner/tests/integration.rs
  tests/rust-plugins/swc_internal_plugin/src/lib.rs
Labels: A-plugin

#3360 fix(es/block-scoping): Pop scope correctly on early returns
  crates/swc/tests/tsc-references/for-inStatementsArray_es5.1.normal.js
  crates/swc/tests/tsc-references/for-inStatementsArray_es5.2.minified.js
  crates/swc/tests/tsc-references/objectRestForOf_es5.1.normal.js
  crates/swc/tests/tsc-references/optionalChainingInLoop_es5.1.normal.js
  crates/swc/tests/tsc-references/optionalChainingInLoop_es5.2.minified.js
  crates/swc/tests/vercel/loader-only/issue-3347/1/input/index.js
  crates/swc/tests/vercel/loader-only/issue-3347/1/output/index.js
  crates/swc_ecma_transforms_compat/src/es2015/block_scoping.rs
  crates/swc_ecma_transforms_compat/tests/block-scoping/issue-3347/exec.js
  crates/swc_ecma_transforms_compat/tests/es2015_block_scoping.rs
Labels: A-transform
