Repository swc-project/swc, pull requests merged in 2022-02, with the labels that each got.

#3418 fix(es/modules): Fix span of imports
  crates/swc/tests/fixture/jest/sourcemap-1/input/.swcrc
  crates/swc/tests/fixture/jest/sourcemap-1/input/index.ts
  crates/swc/tests/fixture/jest/sourcemap-1/output/index.ts
  crates/swc_ecma_transforms_module/src/util.rs
Labels: A-transform

#3478 feat(swc/plugin): support global HANDLER in plugin context
  Cargo.lock
  crates/swc_common/src/errors/diagnostic_builder.rs
  crates/swc_plugin/Cargo.toml
  crates/swc_plugin/src/context.rs
  crates/swc_plugin/src/handler.rs
  crates/swc_plugin/src/lib.rs
  crates/swc_plugin_macro/src/lib.rs
  tests/rust-plugins/swc_internal_plugin/Cargo.lock
  tests/rust-plugins/swc_internal_plugin/src/lib.rs
Labels: A-plugin

#3483 fix(ecma/parser): disallow opt chain as assign target
  crates/swc_ecma_parser/src/error.rs
  crates/swc_ecma_parser/src/parser/util.rs
  crates/swc_ecma_parser/tests/test262-error-references/fail/0eb4ed330b5d7e2f.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/12a3250154ea8ef5.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/15de970e269ae56f.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/168502012959421f.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/23368c25ea374e2f.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/2884c585d2f035a5.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/2e8378f658290622.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/3a3e59edfed719b0.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/4f0b15bd78646107.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/581bedbbce2541be.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/5ab1050053c11514.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/66abd1d09c28ada8.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/75b52e0f57aab958.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/783aeb8c90c3775d.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/851bfeb09635c752.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/939b16a89d0e8704.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/95682e688db64065.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/a793dd27762c8ec8.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/a8beb1480f385441.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/ab9d14c2ef38f180.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/d012888b0c720723.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/dc14ac854168468f.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/dfc6f1cc5533e0bb.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/f4c0cdc8d5782f3f.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/f51aea0352bb03f3.js.stderr
  crates/swc_ecma_parser/tests/test262-error-references/fail/f6cc48c72caf2e32.js.stderr
Labels: S-approved

#3486 Improve recovery mode
  crates/swc_css_parser/src/parser/base.rs
  crates/swc_css_parser/src/parser/mod.rs
  crates/swc_css_parser/tests/fixture/hacks/input.css
  crates/swc_css_parser/tests/fixture/hacks/output.json
  crates/swc_css_parser/tests/fixture/hacks/span.rust-debug
  crates/swc_css_parser/tests/fixture/selector/pseudo-class/not/input.css
  crates/swc_css_parser/tests/fixture/selector/pseudo-class/not/output.json
  crates/swc_css_parser/tests/fixture/selector/pseudo-class/not/span.rust-debug
  crates/swc_css_parser/tests/recovery/hacks/input.css
  crates/swc_css_parser/tests/recovery/hacks/output.json
  crates/swc_css_parser/tests/recovery/hacks/output.swc-stderr
  crates/swc_css_parser/tests/recovery/ie-progid/input.css
  crates/swc_css_parser/tests/recovery/ie-progid/output.json
  crates/swc_css_parser/tests/recovery/ie-progid/output.swc-stderr
Labels: automerge, S-approved

#3492 feat(swc/plugin): implement proxy for Mark::fresh
  crates/swc_common/src/syntax_pos/hygiene.rs
  crates/swc_plugin/src/handler.rs
  crates/swc_plugin/src/lib.rs
  crates/swc_plugin_macro/src/lib.rs
  crates/swc_plugin_runner/src/lib.rs
  tests/rust-plugins/swc_internal_plugin/Cargo.lock
  tests/rust-plugins/swc_internal_plugin/src/lib.rs
Labels: A-plugin

#3476 (feat): Add `reserved` mangle option to minifier
  crates/swc_ecma_minifier/src/option/mod.rs
  crates/swc_ecma_minifier/src/pass/mangle_names/preserver.rs
  crates/swc_ecma_minifier/src/pass/mangle_props.rs
  crates/swc_ecma_minifier/tests/mangle.rs
Labels: S-approved

#3506 Refactor simple block
  crates/swc_css_parser/src/parser/base.rs
  crates/swc_css_parser/src/parser/value/mod.rs
  crates/swc_css_parser/tests/errors/rome/invalid/fit-content/invalid-call/output.stderr
  crates/swc_css_parser/tests/errors/rome/invalid/grid/repeat/unclosed-lint-name/output.stderr
  crates/swc_css_parser/tests/errors/rome/invalid/min-or-max/output.stderr
  crates/swc_css_parser/tests/fixture/declaration/output.json
  crates/swc_css_parser/tests/fixture/declaration/span.rust-debug
  crates/swc_css_parser/tests/recovery/function/output.json
  crates/swc_css_parser/tests/recovery/function/output.swc-stderr
Labels: S-approved

#3511 feat(swc/plugin): implement proxy for Mark / SyntaxContext
  crates/swc_common/src/syntax_pos/hygiene.rs
  crates/swc_plugin_runner/src/lib.rs
  tests/rust-plugins/swc_internal_plugin/src/lib.rs
Labels: A-plugin

#3536 feat(swc/cli): plugin scaffolding command
  Cargo.lock
  crates/swc_cli/Cargo.toml
  crates/swc_cli/src/cli.rs
  crates/swc_cli/src/commands/compile.rs
  crates/swc_cli/src/commands/mod.rs
  crates/swc_cli/src/commands/plugin.rs
  crates/swc_cli/src/main.rs
  crates/swc_plugin/README.md
  crates/swc_plugin/src/lib.rs
  crates/swc_plugin_macro/src/lib.rs
  tests/rust-plugins/swc_internal_plugin/Cargo.lock
  tests/rust-plugins/swc_internal_plugin/src/lib.rs
Labels: A-plugin

#3538 fix(swc/cli): update plugin template for pinned dev
  crates/swc_cli/src/commands/plugin.rs
Labels: A-plugin

#3616 refactor(swc/plugin): revise module cache implementation
  crates/swc/src/config/mod.rs
  crates/swc/src/plugin.rs
  crates/swc_plugin_runner/Cargo.toml
  crates/swc_plugin_runner/src/cache.rs
  crates/swc_plugin_runner/src/lib.rs
  crates/swc_plugin_runner/src/resolve.rs
  crates/swc_plugin_runner/tests/integration.rs
  tests/rust-plugins/swc_internal_plugin/Cargo.lock
Labels: A-plugin

#3732 fix(swc/plugin_macro): do not dupe free guest memory
  crates/swc_plugin_macro/src/lib.rs
Labels: A-plugin

#3731 feat(node): experimental trace support in `@swc/core`
  Cargo.lock
  crates/node/Cargo.toml
  crates/node/src/bundle.rs
  crates/node/src/lib.rs
  crates/node/src/minify.rs
  crates/node/src/parse.rs
  crates/node/src/print.rs
  crates/node/src/transform.rs
  crates/node/src/util.rs
  crates/swc/Cargo.toml
  crates/swc/src/lib.rs
  crates/swc_bundler/Cargo.toml
  crates/swc_common/Cargo.toml
  crates/swc_ecma_codegen/Cargo.toml
  crates/swc_ecma_loader/Cargo.toml
  crates/swc_ecma_minifier/Cargo.toml
  crates/swc_ecma_parser/Cargo.toml
  crates/swc_ecma_transforms_base/Cargo.toml
  crates/swc_ecma_transforms_compat/Cargo.toml
  crates/swc_ecma_transforms_compat/src/es2015/arrow.rs
  crates/swc_ecma_transforms_optimization/Cargo.toml
  crates/swc_ecma_utils/Cargo.toml
  crates/swc_ecma_visit/Cargo.toml
  crates/swc_graph_analyzer/Cargo.toml
  crates/swc_node_bundler/Cargo.toml
  crates/swc_timer/Cargo.toml
  crates/swc_webpack_ast/Cargo.toml
  crates/testing/Cargo.toml
  crates/wasm/Cargo.toml
  node-swc/src/binding.d.ts
  node-swc/src/binding.js
  node-swc/src/index.ts
Labels: enhancement

#3744 feat(swc/plugin): support trace for plugin execution
  .gitignore
  Cargo.lock
  crates/node/src/util.rs
  crates/swc/src/plugin.rs
  crates/swc_ecma_transforms_compat/Cargo.toml
  crates/swc_plugin_runner/Cargo.toml
  crates/swc_plugin_runner/src/lib.rs
Labels: A-plugin
