Repository swc-project/swc, pull requests merged in 2022-05, with the labels that each got.

#4538 test(es/minifier): Categorize more tests
  crates/swc_ecma_minifier/tests/TODO.txt
  crates/swc_ecma_minifier/tests/postponed.txt
Labels: A-minifier

#4593 fix(es/minifier): Fix handling of `NaN`
  crates/swc_ecma_minifier/tests/terser/compress/evaluate/issue_1760_1/output.js
  crates/swc_ecma_minifier/tests/terser/compress/issue_597/NaN_and_Infinity_should_not_be_replaced_when_they_are_redefined_evaluate/output.js
  crates/swc_ecma_minifier/tests/terser_exec.rs
  crates/swc_ecma_transforms_optimization/src/simplify/expr/mod.rs
Labels: A-minifier

#4599 fix(es/minifier): Preserve more `this`
  crates/swc/tests/tsc-references/arrayOfFunctionTypes3_es2015.2.minified.js
  crates/swc/tests/tsc-references/arrayOfFunctionTypes3_es5.2.minified.js
  crates/swc/tests/tsc-references/typeAliases_es2015.2.minified.js
  crates/swc/tests/tsc-references/typeAliases_es5.2.minified.js
  crates/swc_ecma_minifier/tests/terser_exec.rs
  crates/swc_ecma_transforms_optimization/src/simplify/expr/mod.rs
Labels: A-minifier

#4655 feat(es/minifier): Improve minifier
  crates/dbg-swc/.gitignore
  crates/dbg-swc/scripts/check-size.sh
  crates/dbg-swc/scripts/reduce-again.sh
  crates/dbg-swc/src/main.rs
  crates/dbg-swc/src/minify/compare.rs
  crates/dbg-swc/src/minify/ensure_size.rs
  crates/dbg-swc/src/minify/reduce.rs
  crates/dbg-swc/src/util/minifier.rs
  crates/dbg-swc/src/util/mod.rs
  crates/swc/tests/tsc-references/controlFlowAssignmentPatternOrder_es5.2.minified.js
  crates/swc/tests/tsc-references/templateStringInCallExpressionES6_es2015.2.minified.js
  crates/swc/tests/tsc-references/templateStringInCallExpression_es2015.2.minified.js
  crates/swc/tests/tsc-references/templateStringInTaggedTemplateES6_es5.1.normal.js
  crates/swc/tests/tsc-references/templateStringInTaggedTemplateES6_es5.2.minified.js
  crates/swc/tests/tsc-references/templateStringInTaggedTemplate_es5.1.normal.js
  crates/swc/tests/tsc-references/templateStringInTaggedTemplate_es5.2.minified.js
  crates/swc_ecma_minifier/src/compress/pure/misc.rs
  crates/swc_ecma_minifier/tests/full/size/248e841281275d433f521b3a15fd3f10ace5bc2a/input.js
  crates/swc_ecma_minifier/tests/full/size/25ee2b83f69c972a650f834666c2fe919996ddfc/input.js
  crates/swc_ecma_minifier/tests/full/size/8fa41efe87f9760fef4ba7954e52829724cf889f/input.js
  crates/swc_ecma_minifier/tests/full/size/8fa41efe87f9760fef4ba7954e52829724cf889f/output.js
  crates/swc_ecma_minifier/tests/full/size/config.json
  crates/swc_ecma_minifier/tests/full/size/e27038a57e2ccac1f9b58281ef79b17e28229a7c/input.js
  crates/swc_ecma_minifier/tests/full/size/e27038a57e2ccac1f9b58281ef79b17e28229a7c/output.js
  crates/swc_ecma_minifier/tests/full/size/ea46aa258d86394f15a057233cfaefddb539a243/input.js
  crates/swc_ecma_transforms_base/src/fixer.rs
Labels: A-minifier

#4715 fix(es/minifier): Consider more side effects while inlining
  crates/swc/tests/tsc-references/controlFlowAliasing_es5.2.minified.js
  crates/swc_ecma_minifier/src/compress/optimize/inline.rs
  crates/swc_ecma_minifier/src/util/mod.rs
  crates/swc_ecma_minifier/tests/fixture/issues/firebase-core/1/output.js
  crates/swc_ecma_minifier/tests/fixture/issues/quagga2/1.4.2/1/output.js
  crates/swc_ecma_minifier/tests/fixture/issues/react-countup/1/output.js
  crates/swc_ecma_minifier/tests/fixture/next/33265/static/chunks/d6e1aeb5-38a8d7ae57119c23/output.js
  crates/swc_ecma_minifier/tests/fixture/next/33265/static/chunks/pages/index-cb36c1bf7f830e3c/output.js
  crates/swc_ecma_minifier/tests/fixture/next/feedback-util-promisify/chunks/pages/_app-72ad41192608e93a/output.js
  crates/swc_ecma_minifier/tests/full/feedback-mapbox/2c796e83-0724e2af5f19128a/output.js
  crates/swc_ecma_minifier/tests/projects/output/angular-1.2.5.js
  crates/swc_ecma_minifier/tests/projects/output/react-dom-17.0.2.js
  crates/swc_ecma_minifier/tests/single-pass/6/analysis-snapshot.rust-debug
  crates/swc_ecma_minifier/tests/single-pass/6/input.js
  crates/swc_ecma_minifier/tests/single-pass/6/output.js
Labels: A-minifier

#4716 feat(es/minifier): Implement more skipping rules for `sequences`
  crates/swc/tests/tsc-references/AmbientModuleAndNonAmbientFunctionWithTheSameNameAndCommonRoot_es2015.2.minified.js
  crates/swc/tests/tsc-references/AmbientModuleAndNonAmbientFunctionWithTheSameNameAndCommonRoot_es5.2.minified.js
  crates/swc/tests/tsc-references/intersectionReductionStrict_es5.2.minified.js
  crates/swc/tests/tsc-references/intersectionReduction_es5.2.minified.js
  crates/swc/tests/tsc-references/iteratorSpreadInArray7_es2015.2.minified.js
  crates/swc/tests/tsc-references/symbolProperty52_es2015.2.minified.js
  crates/swc/tests/tsc-references/symbolProperty53_es2015.2.minified.js
  crates/swc/tests/tsc-references/symbolProperty57_es2015.2.minified.js
  crates/swc/tests/tsc-references/syntaxErrors_es2015.2.minified.js
  crates/swc/tests/tsc-references/syntaxErrors_es5.2.minified.js
  crates/swc/tests/tsc-references/typeGuardFunctionOfFormThisErrors_es2015.2.minified.js
  crates/swc/tests/tsc-references/unionAndIntersectionInference1_es2015.2.minified.js
  crates/swc_ecma_minifier/src/compress/optimize/sequences.rs
  crates/swc_ecma_minifier/src/compress/optimize/unused.rs
  crates/swc_ecma_minifier/src/compress/pure/misc.rs
  crates/swc_ecma_minifier/src/compress/util/mod.rs
  crates/swc_ecma_minifier/tests/fixture/issues/2257/full/output.js
  crates/swc_ecma_minifier/tests/fixture/issues/firebase-core/1/output.js
  crates/swc_ecma_minifier/tests/fixture/issues/quagga2/1.4.2/1/output.js
  crates/swc_ecma_minifier/tests/fixture/next/33265/static/chunks/d6e1aeb5-38a8d7ae57119c23/output.js
  crates/swc_ecma_minifier/tests/fixture/next/33265/static/chunks/pages/index-cb36c1bf7f830e3c/output.js
  crates/swc_ecma_minifier/tests/fixture/next/feedback-util-promisify/chunks/pages/_app-72ad41192608e93a/output.js
  crates/swc_ecma_minifier/tests/fixture/next/react-ace/chunks/8a28b14e.d8fbda268ed281a1/output.js
  crates/swc_ecma_minifier/tests/fixture/next/styled-components/1/output.js
  crates/swc_ecma_minifier/tests/full/feedback-mapbox/2c796e83-0724e2af5f19128a/output.js
  crates/swc_ecma_minifier/tests/full/feedback-mapbox/785-e1932cc99ac3bb67/output.js
  crates/swc_ecma_minifier/tests/projects/output/angular-1.2.5.js
  crates/swc_ecma_minifier/tests/projects/output/mootools-1.4.5.js
  crates/swc_ecma_minifier/tests/projects/output/react-dom-17.0.2.js
Labels: A-minifier

#4736 fix(es/typescript): Mark namespaces as concrete
  crates/swc/tests/fixture/issues-4xxx/4393/1/input/.swcrc
  crates/swc/tests/fixture/issues-4xxx/4393/1/input/index.ts
  crates/swc/tests/fixture/issues-4xxx/4393/1/output/index.ts
  crates/swc/tests/tsc-references/exportsAndImports1-amd_es2015.1.normal.js
  crates/swc/tests/tsc-references/exportsAndImports1-amd_es2015.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports1-amd_es5.1.normal.js
  crates/swc/tests/tsc-references/exportsAndImports1-amd_es5.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports1-es6_es2015.1.normal.js
  crates/swc/tests/tsc-references/exportsAndImports1-es6_es2015.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports1-es6_es5.1.normal.js
  crates/swc/tests/tsc-references/exportsAndImports1-es6_es5.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports1_es2015.1.normal.js
  crates/swc/tests/tsc-references/exportsAndImports1_es2015.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports1_es5.1.normal.js
  crates/swc/tests/tsc-references/exportsAndImports1_es5.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports3-amd_es2015.1.normal.js
  crates/swc/tests/tsc-references/exportsAndImports3-amd_es2015.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports3-amd_es5.1.normal.js
  crates/swc/tests/tsc-references/exportsAndImports3-amd_es5.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports3-es6_es2015.1.normal.js
  crates/swc/tests/tsc-references/exportsAndImports3-es6_es2015.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports3-es6_es5.1.normal.js
  crates/swc/tests/tsc-references/exportsAndImports3-es6_es5.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports3_es2015.1.normal.js
  crates/swc/tests/tsc-references/exportsAndImports3_es2015.2.minified.js
  crates/swc/tests/tsc-references/exportsAndImports3_es5.1.normal.js
  crates/swc/tests/tsc-references/exportsAndImports3_es5.2.minified.js
  crates/swc/tests/tsc-references/filterNamespace_import_es2015.1.normal.js
  crates/swc/tests/tsc-references/filterNamespace_import_es2015.2.minified.js
  crates/swc/tests/tsc-references/filterNamespace_import_es5.1.normal.js
  crates/swc/tests/tsc-references/filterNamespace_import_es5.2.minified.js
  crates/swc_ecma_transforms_typescript/src/strip.rs
  crates/swc_ecma_transforms_typescript/tests/fixture/issue-2669/1/input.ts
  crates/swc_ecma_transforms_typescript/tests/fixture/issue-2669/1/output.js
  crates/swc_ecma_transforms_typescript/tests/fixture/issue-4393/1/input.ts
  crates/swc_ecma_transforms_typescript/tests/fixture/issue-4393/1/output.js
  crates/swc_ecma_transforms_typescript/tests/fixture/issue-4393/2/input.ts
  crates/swc_ecma_transforms_typescript/tests/fixture/issue-4393/2/output.js
Labels: A-transform

#4737 fix(es/modules/cjs): FIx detection of exported names
  crates/swc/tests/fixture/issues-4xxx/4700/1/.swcrc
  crates/swc/tests/fixture/issues-4xxx/4700/1/input.ts
  crates/swc_ecma_transforms_module/src/common_js.rs
  crates/swc_ecma_transforms_module/tests/fixture/commonjs/issue-4700/1/input.js
  crates/swc_ecma_transforms_module/tests/fixture/commonjs/issue-4700/1/output.js
Labels: A-transform

#4781 feat(swc/plugin_proxy): implement sourcemap.span_to_*
  crates/swc_common/src/syntax_pos.rs
  crates/swc_plugin_proxy/src/source_map/plugin_source_map_proxy.rs
  crates/swc_plugin_runner/src/imported_fn/mod.rs
  crates/swc_plugin_runner/src/imported_fn/source_map.rs
  tests/rust-plugins/swc_internal_plugin/Cargo.lock
Labels: A-plugin

#4824 perf(es/minifier): Make name mangler parallel
  crates/swc_ecma_minifier/src/pass/mangle_names/analyzer/mod.rs
  crates/swc_ecma_minifier/src/pass/mangle_names/analyzer/scope.rs
  crates/swc_ecma_preset_env/data/core-js-compat/data.json
Labels: A-minifier
