Repository swc-project/swc, pull requests merged in 2022-03, with the labels that each got.

#3797 refactor(swc/plugin_runner): better performing write_memory_view
  crates/swc_plugin_runner/src/lib.rs
  tests/rust-plugins/swc_internal_plugin/Cargo.lock
Labels: A-plugin

#3845 fix(es/module): Fix `jest.spyOn`
  crates/swc/tests/fixture/issue-2606/1/output/index.ts
  crates/swc_ecma_transforms_module/src/common_js.rs
  crates/swc_ecma_transforms_module/src/util.rs
  crates/swc_ecma_transforms_module/tests/fixture/commonjs/issue-2549/output.js
  crates/swc_ecma_transforms_module/tests/fixture/commonjs/issue-2678/output.js
  crates/swc_ecma_transforms_module/tests/fixture/commonjs/issue-3843/1/input.js
  crates/swc_ecma_transforms_module/tests/fixture/commonjs/issue-3843/1/output.js
Labels: A-transform

#3984 perf(es/minifier): Use fxhash for integers
  Cargo.lock
  crates/swc_ecma_minifier/Cargo.toml
  crates/swc_ecma_minifier/src/pass/mangle_names/analyzer/mod.rs
  crates/swc_ecma_minifier/src/pass/mangle_names/analyzer/scope.rs
  crates/swc_ecma_minifier/src/pass/mangle_names/preserver.rs
  crates/swc_ecma_minifier/src/pass/mangle_names/rename_map.rs
Labels: A-minifier, T-performance

#3985 perf(common): Use `fxhash` everywhere
  Cargo.lock
  crates/swc_common/Cargo.toml
  crates/swc_common/src/collections.rs
  crates/swc_common/src/lib.rs
  crates/swc_node_base/Cargo.toml
Labels: T-performance

#3996 feat(es/minifier): Compress more comparisons
  crates/swc_ecma_minifier/src/compress/optimize/bools.rs
  crates/swc_ecma_minifier/src/compress/optimize/mod.rs
  crates/swc_ecma_minifier/src/compress/pure/bools.rs
  crates/swc_ecma_minifier/src/compress/pure/mod.rs
  crates/swc_ecma_minifier/tests/TODO.txt
  crates/swc_ecma_minifier/tests/golden.txt
  crates/swc_ecma_minifier/tests/terser/compress/comparing/keep_comparisons/output.js
Labels: A-minifier

#4034 feat(es/transforms/base): Add `paren_remover`
  crates/swc_ecma_transforms_base/src/fixer.rs
  crates/swc_ecma_transforms_optimization/tests/expr-simplifier/issue-3115/input.js
  crates/swc_ecma_transforms_optimization/tests/expr-simplifier/issue-3115/output.js
  crates/swc_ecma_transforms_optimization/tests/fixture.rs
Labels: A-transform

#4035 refactor(plugin/runner): Split modules and introduce feature flags
  .github/workflows/cargo.yml
  .gitignore
  .npmignore
  Cargo.lock
  crates/node/Cargo.toml
  crates/swc/src/plugin.rs
  crates/swc_cli/Cargo.toml
  crates/swc_plugin_runner/Cargo.toml
  crates/swc_plugin_runner/src/context.rs
  crates/swc_plugin_runner/src/imported_fn.rs
  crates/swc_plugin_runner/src/lib.rs
  crates/swc_plugin_runner/src/load_plugin.rs
  crates/swc_plugin_runner/src/memory_interop.rs
  crates/swc_plugin_runner/src/transform_executor.rs
  crates/swc_plugin_runner/tests/integration.rs
  crates/wasm/Cargo.toml
  package.json
  scripts/github/tests.yml
  tests/rust-plugins/swc_internal_plugin/Cargo.lock
  tsconfig.json
  yarn.lock
Labels: A-plugin

#4061 fix(es/helpers): Fix the name of `_classPrivateFieldLooseBase`
  crates/swc_ecma_transforms_base/src/helpers/_class_private_field_loose_base.js
Labels: A-transform

#4072 fix(es/helpers): Fix decorator helper script
  crates/swc_ecma_transforms/Cargo.toml
  crates/swc_ecma_transforms/tests/fixture/decorator/issue-3705/exec.ts
  crates/swc_ecma_transforms_base/src/helpers/_apply_decorated_descriptor.js
  packages/swc-helpers/src/_apply_decorated_descriptor.js
Labels: A-transform

#4073 feat(es/modules): Support namespaced reexports
  crates/swc/tests/fixture/issue-3782/input/.swcrc
  crates/swc/tests/fixture/issue-3782/input/index.ts
  crates/swc/tests/fixture/issue-3782/output/index.map
  crates/swc/tests/fixture/issue-3782/output/index.ts
  crates/swc_ecma_transforms_module/src/common_js.rs
  crates/swc_ecma_transforms_module/tests/fixture/commonjs/issue-3732/input.js
  crates/swc_ecma_transforms_module/tests/fixture/commonjs/issue-3732/output.js
Labels: A-transform

#4090 fix(es/compat): Visit generated codes from `arrow`
  crates/swc/tests/tsc-references/classStaticBlock5_es5.1.normal.js
  crates/swc/tests/tsc-references/superInStaticMembers1_es5.1.normal.js
  crates/swc/tests/tsc-references/superInStaticMembers1_es5.2.minified.js
  crates/swc_ecma_transforms_compat/src/es2015/arrow.rs
  crates/swc_ecma_transforms_compat/tests/arrows/issue-4088/1/input.js
  crates/swc_ecma_transforms_compat/tests/arrows/issue-4088/1/output.js
  crates/swc_ecma_transforms_compat/tests/es2015_arrow.rs
  crates/swc_ecma_transforms_compat/tests/es2017_async_to_generator.rs
Labels: A-transform

#4118 fix(es/typescript): Collect all bindings in `strip`
  crates/swc/tests/fixture/issue-3686/1/input/.swcrc
  crates/swc/tests/fixture/issue-3686/1/input/index.ts
  crates/swc/tests/fixture/issue-3686/1/output/index.ts
  crates/swc_ecma_minifier/tests/eval.rs
  crates/swc_ecma_transforms_typescript/src/strip.rs
Labels: A-transform
